# --- Bağımlılıklar ---
node_modules/


# --- Derleme ve Build Çıktıları ---
dist/
build/
coverage/

# --- Çevresel Değişkenler (GÜVENLİK - Çok Önemli) ---
.env
.env.local
.env.*.local
!.env.example 

# --- Log Dosyaları ---
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
logs/
*.log

# --- İşletim Sistemi Gereksizleri ---
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

# --- Docker & Veritabanı (Yerel veriler) ---
docker-compose.override.yml
mongo_data/
redis_data/
postgres_data/

# --- IDE ve Editör Ayarları ---
.vscode/
.idea/
*.swp
*.swo